.WelcomeBannerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 90vh;
}

.HomeMenuBar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    width:max-content ;
    height: 55px;
    margin: 12px auto;
    padding: 5px 10px;
    border: 1px solid #d9d6cf;
    border-radius: 50px;
    background-color: white;
    font-weight: 600;
}

.HomeMenuBarListItems{
    padding: 10px 13px;
    border-radius: 25px;
}

.HomeMenuBarListItems:hover{
    background-color: transparent;
    padding: 10px 12px;
    border: 1px solid #E2AB3C;
    border-radius: 25px;
}

.HomeMenuBarListItemsARef {
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-size: 16px;
    font-family: sans-serif;
}

.AboutIslam {
    width: 85%;
    height: fit-content;
    margin: 16px auto;
    padding-bottom: 15px;
}

.AboutIslamContainer {
    display: flex;
    align-items: flex-start;
    margin: 0;
    padding: 20px 0 0;
    height: 550px;
}

.LeftSideAboutIslamContainer {
    flex: 0 0 30%;
    display: flex;
    height: 550px;
    justify-content: center;
}

.AboutIslamContainerImages {
    width: 325px;
    height: 92%;
    border-radius: 20px;
}

.RightSideAboutIslamContainer {
    flex: 0 0 70%;
    display: flex;
    flex-direction: column;
}

.Heading1 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 27px;
}

.Paragraph{
    margin-top: 0;
    font-size: 18px;
    padding-right: 5%;
    line-height: 36px;
}

.IsalmContext{
    padding-left: 5%;
}

.UnderstandingTable {
    border: 1;
    border-collapse: collapse ;
}

.TableHead {
    padding: 8px 0;
    font-size: 16px;
}

.TableTopic {
    font-size: 16px;
}

.TableParagraph {
    padding: 5px 25px;
    font-size: 15px;
}

.TableUnListed {
    list-style: none;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  width: 65%;
  margin: 0 auto;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 5px;
}

.column img {
  width: 100%;
  height: auto;
  margin-top: 8px;
  vertical-align: bottom;
  border-radius: 20px;
}

/* Responsive - 2 columns */
@media (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive - 1 column */
@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}


.button-counter {
    width:  200px;
    height: 200px;
    border: none;
    border-radius: 50%;
    background-color:rgb(107, 171, 227);
    cursor: pointer;
}

.button-counter:hover{
    background-color: rgb(131, 182, 225);
}

.line-one-arabic {
    font-size: 22px;
    margin-bottom: 5px;
    margin-top: 0;
}

.line-one-english {
    font-size: 12px;
    font-style: italic;
}